body {
    background-color: rgb(220, 220, 220);
    font-family: sans-serif
}

main {
    margin-left: 30%;
    margin-right: 30%;
}

h1, p {
    text-align: center;
}

.desarrollo {
    color: red;
}